html-testRunner==1.2.1
ipdb==0.13.2
ipython==7.13.0
ipython-genutils==0.2.0
pytest==5.3.4
requests==2.23.0
selenium==3.141.0
selenium-unittest==0.2.3
selenium-unittest-common==1.0.3
setuptools-scm==3.5.0
six==1.14.0
sortedcontainers==2.1.0
urllib3==1.25.9
